<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project2</display-name>

  <!-- 차후 게시판에서 사용할 페이지 번호의 설정값 -->
  <context-param><!-- 한 페이지에 출력할 게시물의 갯수 -->
  	<param-name>PAGE_SIZE</param-name>
  	<param-value>5</param-value>
  </context-param>
  <context-param><!-- 한 블럭당 출력할 페이지번호의 갯수 -->
  	<param-name>BLOCK_PAGE</param-name>
  	<param-value>5</param-value>
  </context-param>
  <context-param><!-- 한 페이지에 출력할 게시물의 갯수 -->
  	<param-name>IMAGEPAGE_SIZE</param-name>
  	<param-value>6</param-value>
  </context-param>


  <!-- 컨텍스트 초기화 파라미터 : MariaDB 연결을 위한 정보 -->
  <context-param>
  	<param-name>MariaJDBCDriver</param-name>
  	<param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
    <context-param>
  	<param-name>MariaConnectURL</param-name>
  	<param-value>jdbc:mariadb://127.0.0.1:3306/suamil_db</param-value>
  </context-param>
   <context-param>
  	<param-name>MariaUser</param-name>
  	<param-value>suamil_user</param-value>
  </context-param>
   <context-param>
  	<param-name>MariaPass</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  
  
  <servlet>
    <servlet-name>ProjectMain</servlet-name>
    <servlet-class>controller.MainCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectMain</servlet-name>
    <url-pattern>/main/main.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>admin.LoginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/login.do</url-pattern>
  </servlet-mapping>
  <!-- 파일 다운로드 -->
  <servlet>
    <servlet-name>imgDownload</servlet-name>
    <servlet-class>controller.DownloadCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgDownload</servlet-name>
    <url-pattern>/space/download.do</url-pattern>
  </servlet-mapping>
  
  <!-- 이미지 게시판 수정 -->
    <servlet>
    <servlet-name>imgEdit</servlet-name>
    <servlet-class>controller.ImgEditCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgEdit</servlet-name>
    <url-pattern>/space/imgEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 직원게시판 리스트 -->
  <servlet>
    <servlet-name>empList</servlet-name>
    <servlet-class>controller.EmpListCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empList</servlet-name>
    <url-pattern>/community/empList.do</url-pattern>
  </servlet-mapping>
  
    <!-- 직원게시판 작성 -->
   <servlet>
    <servlet-name>empWrite</servlet-name>
    <servlet-class>controller.EmpWriteCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empWrite</servlet-name>
    <url-pattern>/community/empWrite.do</url-pattern>
  </servlet-mapping>
  
  <!-- 직원게시판 수정 -->
  <servlet>
    <servlet-name>empEdit</servlet-name>
    <servlet-class>controller.EmpEditCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empEdit</servlet-name>
    <url-pattern>/community/empEdit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 직원게시판리스트보기 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>